*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscodetest.txt
Animasu/build
Dubbindo/build
Gomov/build
Idlix/build
LayarKaca/build
Kuramanime/build
Nimegami/build
Oploverz/build
Otakudesu/build
Pencurimovie/build
Samehadaku/build
UseeTV/build
