*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscodetest.txt
Animasu/build
Dubbindo/build
Gomov/build
IdlixProvider/build
LayarKacaProvider/build
KuramanimeProvider/build
Nimegami/build
OploverzProvider/build
OtakudesuProvider/build
Pencurimovie/build
Samehadaku/build
UseeTV/build
